
/* The side navigation menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #e3e3e3;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #313d53;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  body {
      background-color: white;
      color: #313d53;
  }

  .top-stuff
  {
      border-bottom: 1px solid black;
  }

  .menucontainerwrap {
     padding-top: 20px; 
     padding-left: 20px;
  }

  .first-column
{
  float: left;
  width: 650px;
  padding-left: 30px;
  padding-bottom: 60px;
}
.second-column 
{ 
  float:right;
  height: 100%;
  width: 400px;
  padding-right: 50px;
  padding-top: 30px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 30%;
    padding: 15px;
    padding-top: 25px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  @media screen and (max-width: 900px) {
    .column {
      width: 45%;
    }
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      float: left;
    }
  }